* {
  margin: 0px;
  padding: 0px;
  border: border-box;
}
body {
  background-size: cover;
  background-color: #000000;
  font-family: "Elms Sans", "Vend Sans", Arial, sans-serif;
  background-image: url(../img/bgseason.jpg);
  position: absolute;
}
/* change bg*/

/* Header Styles */
header {
  display: flex;
  background-color: #000000;
  padding: 20px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  opacity: 0.89;
  border: 2px solid #000000;
}
.logo {
  color: #ffffff;
  margin: 0;
}
.nav {
  display: inline;
  position: relative;
}
nav li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown {
  display: none;
  font-size: 2.5rem;
  font-weight: 900;
  background: none;
  color: white;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
nav li a:hover {
  color: #ff0000;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: ease-in-out 0.2s;
}

/* body */
section {
  display: block;
  width: 100%;
  height: 200%;
  background-color: #0000007e;
}
.container {
  padding: 20px 30px 50px 40px;
  height: 200%;
}
.hero {
  display: block;
  margin: 100px 0px 0px 100px;
  width: 36%;
}
.hero > h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero > p {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 1.1rem;
}
.hero > a > button {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 20px 12px 20px;
  margin-left: 12px;
  border-radius: 5px;
  border: none;
  transition: ease-in-out 0.2s;
}
.hero > a > button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
button {
  box-shadow: 0px 0px 10px rgba(#ffffff, #ffffff, #000000, 0.3);
  cursor: pointer;
}
.button {
  cursor: pointer;
  margin: 30px 0px 230px 100px;
}
footer {
  background-color: #000000;
  display: block;
  width: 100%;
  height: 49px;
}
footer h1 {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
/*bg*/
.bg {
  background-image: url(../img/Part1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.bg2 {
  background-image: url(../img/Part2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.bg3 {
  background-image: url(../img/Part3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
}
.hero {
  padding: 50px;
  border-radius: 10px;
  background-color: #0000007c;
  height: 100%;
  width: 70%;
}
/* responsiveness */
@media screen and (max-width: 790px) {
  .dropdown {
    display: block;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 5px;
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 300px;
    z-index: 1000;
  }
  nav li {
    display: block;
    border: 2px solid #ffffff;
    padding: 12px;
    height: 40px;
    transition: ease-in-out 0.2s;
  }
  nav li:hover {
    background-color: #8d8d8d;
  }
  nav li a {
    font-size: 1.8rem;
  }
  .hero {
    margin: 0px;
    margin-top: 30px;
    width: 70%;
    display: inline-block;
  }
  .xeper {
    display: none;
  }
  section > .container {
    padding: 20px 10px 50px 10px;
    height: 150%;
  }
  .bg,
  bg1,
  bg2 {
    padding: 5px;
  }
}
