* {
  margin: 0px;
  padding: 0px;
  border: border-box;
}
body {
  background-size: cover;
  background-color: #000000;
  font-family: "Elms Sans", "Vend Sans", Arial, sans-serif;
  background-image: url(../img/Part1.jpg);
  position: absolute;
}
/* change bg*/

/* Header Styles */
header {
  display: flex;
  background-color: #000000;
  padding: 20px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  opacity: 0.89;
  border: 2px solid #000000;
}
.logo {
  color: #ffffff;
  margin: 0;
}
.nav {
  display: inline;
  position: relative;
}
nav li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown {
  display: none;
  font-size: 2.5rem;
  font-weight: 900;
  background: none;
  color: #ffffff;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

/* body */
section {
  display: block;
  width: 100%;
  height: 200%;
  background-color: #0000007e;
}
.container {
  padding: 20px 30px 50px 40px;
  height: 200%;
}
.hero {
  display: block;
  margin: 100px 0px 0px 100px;
  margin: 1px solid #ffffff;
}
.hero h1 {
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero p {
  color: #000000;
  margin-bottom: 12px;
  font-size: 1.1rem;
}
.hero-content {
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 90%;
}
.main {
  margin-bottom: 20px;
  text-align: center;
}
ul {
  margin-bottom: 20px;
}
ul li {
  margin-bottom: 10px;
  color: #000000;
  font-size: 1.1rem;
}
.hero-content > p {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.1rem;
}
/* footer */
footer {
  background-color: #000000;
  display: block;
  width: 100%;
  height: 49px;
}
footer h1 {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

/* responsiveness */
@media screen and (max-width: 790px) {
  .dropdown {
    display: block;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 5px;
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 300px;
    z-index: 1000;
  }
  nav li {
    display: block;
    border: 2px solid #ffffff;
    padding: 12px;
    height: 40px;
    transition: ease-in-out 0.2s;
  }
  nav li:hover {
    background-color: #8d8d8d;
  }
  nav li a {
    font-size: 1.8rem;
  }
  .hero {
    margin: 0px;
    margin-top: 30px;
    width: 72%;
    display: inline-block;
    text-align: center;
  }
  .hero-content {
    width: 100%;
  }
  .xeper {
    display: none;
  }
  section > .container {
    padding: 20px 10px 50px 10px;
    height: 150%;
  }
  .hero-content {
    width: 125%;
  }
}
